# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Editor state
.vscode/launch.json
__debug_*

# Docs
docs/.vitepress/cache
docs/.vitepress/dist

# Application data
.env
.paranal/
