html,
body,
.app,
.screen,
.page {
  margin: unset;
  width: 100%;
  height: 100%;
}

:root {
  --t-error-unexpected-error: 'Something went wrong.';
  --t-error-not-found: 'Not found';
  --t-notification-close: 'Close';
  --t-login-title: 'Login to ' var(--t-app-name);
  --t-login-username: 'User';
  --t-login-password: 'Password';
  --t-login-rememberLogin: 'Remember me';
  --t-login-submit: 'Login';
  --t-user-logout: 'Logout';
}

.app {
}
.app[data-loading] {
}

/* Errors */

.error.screen {
}

.error.page {
}

.unexpected.error.page {
}
.unexpected.error.page::before {
  content: var(--t-error-unexpected-error);
}

.not-found.error.page {
}
.not-found.error.page::before {
  content: var(--t-error-not-found);
}

/* Notification */

.notification.popup {
  position: fixed;
  left: 0;
  bottom: 0;
}
.notification.popup[data-closed] {
}

.notification .panel {
}

.notification .panel .message {
}

.notification .panel .close {
}
.notification .panel .close::before {
  content: var(--t-notification-close);
}

/* Auth */

.auth.screen {
}

/* Login */

.auth .login.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login.form {
}
.login .login.form::before {
  content: var(--t-login-title);
  font-size: large;
  font-weight: bold;
}
.login .login.form[data-loading] {
  pointer-events: none;
  opacity: 0.5;
}

.login .login.form .username {
}
.login .login.form .username .label {
}
.login .login.form .username .label::before {
  content: var(--t-login-username);
}
.login .login.form .username .input {
}

.login .login.form .password {
}
.login .login.form .password .label {
}
.login .login.form .password .label::before {
  content: var(--t-login-password);
}
.login .login.form .password .input {
}

.login .login.form .remember-login {
}
.login .login.form .remember-login .label {
}
.login .login.form .remember-login .label::before {
  content: var(--t-login-rememberLogin);
}
.login .login.form .remember-login .input {
}

.login .login.form .submit.button {
}
.login .login.form .submit.button::before {
  content: var(--t-login-submit);
}

/* Dashboard */

.dashboard.screen {
}

.dashboard .header {
}

.dashboard .header .title-bar {
}

.dashboard .header .title-bar .title {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  text-decoration: inherit;
  color: inherit;
}

.dashboard .header .title-bar .title .logo {
  content: var(--t-logo);
  aspect-ratio: 1/1;
  height: 3em;
}

.dashboard .header .title-bar .title .app-name {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.dashboard .header .title-bar .title .app-name::before {
  content: var(--t-app-name);
  font-size: xx-large;
  display: block;
}
.dashboard .header .title-bar .title .app-name::after {
  content: var(--t-tagline);
  display: block;
}

.dashboard .header .navigation {
  display: flex;
  justify-content: space-between;
}

.dashboard .header .navigation .start {
}

.dashboard .header .navigation .end {
}

.dashboard .header .navigation .end .user.item {
}

.user.menu {
}

.user.menu .logout.item {
}
.user.menu .logout.item::before {
  content: var(--t-user-logout);
}

.dashboard .footer.markdown {
  text-align: center;
}

.dashboard .favorites.page {
}

/* Admin */

.admin.screen {
}
