html,
body,
.app,
.screen {
  margin: unset;
  width: 100%;
  height: 100%;
}

.app {
}
.app[data-loading] {
}

/* Errors */

.error.screen {
}

.error.page {
}

.unexpected.error.page {
}

.unexpected.error.page > .text {
}

.not-found.error.page {
}

.not-found.error.page > .text {
}

/* Notification */

.notification.popup {
  position: fixed;
  left: 0;
  bottom: 0;
}
.notification.popup[data-closed] {
}

.notification > .panel {
}

.notification > .panel > .message {
}

.notification > .panel > .close {
}

.notification > .panel > .close > .text {
}

/* Auth */

.auth.screen {
}

/* Login */

.auth > .login.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth > .login > .login.form {
}
.auth > .login > .login[data-loading] {
  pointer-events: none;
  opacity: 0.5;
}

.auth > .login > .login > .title {
}

.auth > .login > .login > .title > .text {
}

.auth > .login > .login > .username.field {
}

.auth > .login .login > .username > .label {
}

.auth > .login .login > .username > .label > .text {
}

.auth > .login .login > .username > .input {
}

.auth > .login .login > .password.field {
}

.auth > .login .login > .password > .label {
}

.auth > .login .login > .password > .label > .text {
}

.auth > .login .login > .password > .input {
}

.auth > .login > .login > .remember-login.field {
}

.auth > .login > .login > .remember-login > .label {
}

.auth > .login > .login > .remember-login > .label > .text {
}

.auth > .login > .login > .remember-login > .input {
}

.auth > .login > .login > .submit.button {
}

.auth > .login > .login > .submit > .text {
}

/* Dashboard */

.dashboard.screen {
}

.dashboard > .navigation {
}
.dashboard > .navigation[data-active] {
}

.dashboard > .navigation > .title {
  display: inline-flex;
  align-items: center;
  text-decoration: inherit;
  color: inherit;
}

.dashboard > .navigation > .title > .logo {
  aspect-ratio: 1/1;
  height: 3em;
}

.dashboard > .navigation > .title > .logo > .image {
}

.dashboard > .navigation > .title > .app-name {
}

.dashboard > .navigation > .title > .app-name > .text {
}

.dashboard > .navigation > .burger-container {
}
.dashboard > .navigation > .burger-container > .burger {
  /* controls .navigation[data-active] */
}

.dashboard > .navigation > .menu {
  justify-content: space-between;
}

.navigation .menu,
.navigation .sub.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard > .navigation > .menu > .start.menu-item {
}

.dashboard > .navigation > .menu > .start > .sub.menu {
}

.dashboard > .navigation > .menu > .start > .sub > .favorites.menu-item {
}
.dashboard .favorites.menu-item[data-count='0'] {
  display: none;
}

.dashboard .favorites.menu-item > .item {
}

.dashboard .favorites.menu-item > .item > .text {
}

.dashboard > .navigation > .menu > .start > .sub > .page.menu-item {
}

.dashboard .page.menu-item > .item {
}

.dashboard .page.menu-item > .item > .text {
}

.dashboard > .navigation > .menu > .end.menu-item {
}

.dashboard > .navigation > .menu > .end > .sub.menu {
}

.dashboard > .navigation > .menu > .end > .sub > .user.menu-item {
}

.dashboard .user.menu-item > .item {
}

.dashboard .user.menu-item > .item > .text {
}

.user.dropdown {
}

.user.dropdown > .logout.dropdown-item {
}
.user.dropdown > .logout > .text {
}

.dashboard > .footer.markdown {
  text-align: center;
}

.dashboard > .favorites.page {
}

/* Admin */

.admin.screen {
}
